[Unit]
Description=Mount SMB Share
After=network.target
Before=sdgrabber.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/mount -t cifs //10.1.1.98/Projects/sdgrabber /mnt/backup_server -o credentials=/etc/samba/credentials,vers=3.0,uid=pi,gid=pi
ExecStop=/bin/umount /mnt/backup_server

[Install]
WantedBy=multi-user.target